
  <div class="row no-gutters">
    <div class="col-md-4">
      <% if @cocktail.photo.attached? %><%= cl_image_tag @cocktail.photo.key, secure: true, class: "card-img custom-page-img" %><% else %><img src='https://www.laylita.com/recetas/wp-content/uploads/2014/06/Caipirinhas-o-caipriC3B1as-500x500.jpg' class='card-img custom-page-img'><% end %>
      <!-- <img src="https://gastronomicainternacional.com/wp-content/uploads/2018/02/receta-mojito-con-mezcal-1.jpg" class="card-img custom-page-img" alt="..."> -->
    </div>
    <div class="col-md-8">
        <div class="title-bar border-bottom">
          <h1 style="font-size: 100px;"><%= @cocktail.name.capitalize %></h1>
        </div>
        <ul class="my-4">
        <% @cocktail.doses.all.each do |dose| %>
          <li class="card-text" style="color: white;"><%= dose.description %> <%= dose.ingredient.name %>  <%= link_to 'Delete Ingredient', dose_path(dose), method: :delete, data: { confirm: "delete ingredient?" }, class: "btn btn-outline-danger" %></small></li>
        <% end %>
        </ul>
        <p class="mx-4">
          <br><br><br><br>
          <%= link_to 'Add Ingredient', new_cocktail_dose_path(@cocktail), class: "btn btn-outline-info" %>
          <%= link_to 'Home', root_path, class: "btn btn-outline-primary" %>
        </p>
      </div>
  </div>

